.divContenedorTicketsFlotante{
    padding-top: 1%;
    min-width: 94%;
    max-width: 94%;
    margin-left: 5.5%;
}


#div2 {
    overflow-y:scroll;
    overflow-x: hidden;
    max-height:250px;
    min-width:100%;
    
}
#div2 table {
   min-width: 100%;
   background-color: rgba(255, 255, 255, 0.7);
   
}
