.divContenedorMasiva{
    padding-top: 1%;

    min-width: 94%;
    max-width: 94%;
    margin-left: 5.5%;

}

#div2 {
    overflow-y:scroll;
    overflow-x: hidden;
    max-height:250px;
    min-width:100%;

    
}
#div3 {
    overflow-y:scroll;
    overflow-x: hidden;
    max-height:250px;
    min-width:100%;
    
}
#div2 table {

   min-width: 94%;
   background-color: rgba(127, 255, 0, 0.3);
   
}

#div3 table {

    min-width: 94%;
    background-color: rgba(255, 0, 0, 0.5);
    
 }
#uf {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    }
  
    label[for="uf"] {
      background-color: #3F51B5;
      color: white;
      display: inline-block;
      transition: all .5s;
      cursor: pointer;
      padding: 5px 10px !important;
      text-align: center;
      border-radius: 5px;
      }


 

.divAlinear{
    margin-top: 1%;
    min-width: 100%;

}

.example-margin {
    max-width: 96%;
    margin-left:2%;
  }