.divContenedorTipostickets{
    padding-top: 1%;
    min-width: 94%;
    max-width: 94%;
    margin-left: 5.5%;

}

.btnSalir{
    background-color: red;
    color: white;
    margin-left: 2%;
  }